/* NAVBAR */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.logo {
    width: 10%;
    min-width: 124px;
}

.logo:hover {
    box-shadow: none;
}

li, a, button {
    font-family: 'Chau Philomene One', sans-serif;
    font-size: 20px;
}

header {
    background-color: #A95E56;
    display: flex;
    justify-content: space-between;
    padding: 30px 10%;
    align-items: center;
}

.navbar {
    list-style:none;
}

.navbar li {
    display: inline-block;
    padding: 0 20px;
}

.navbar li a {
    color: #FDF2E3;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

.navbar li a:hover {
    color: #F4AF99;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color:#F4AF99;
    color: #FDF2E3;
    transition: all 0.3s ease 0s;
}

.panier {
    background-color: #FDF2E3;
    padding: 0 25px;
    border: none;
    border-radius: 30px;
    color: #FDF2E3;
}

.panier a {
    color: #A95E56;
    text-decoration: none;
}


/* RESPONSIVE */
@media (max-width:600px) {
    .navbar {
        display: inline-block;
        position: absolute;
        right: 72px;
        top: 17px;
    }

    header img {
        display: none;
    }
}