/* Panier */

.cart {
    margin: 45px 0;
    background-color: #a95e56;
    padding: 60px 0;
    border-radius: 30px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.total-price {
	padding-bottom: 15px;
}

.cart-item {
	background-color: #FDF2E3;
	border-radius: 10px;
	padding: 15px 20px;
	margin-bottom: 20px;
}

.center-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.cart-item img {
	width: 115px;
}

.cart-item h5 {
    padding: 0 45px;
    color: #141514;
    font-size: 15px;
}

.cart-item .remove-item {
	width: 25px!important;
}

.btn-default {
	background-color: #fff;
}

.btn-success {
    color: #a95e56;
    background-color: #fdf2e3;
}

.cart-item .form-control {
	background-color: #F6F5FA;
	border: none;
    width: 65px;
    border-radius: 10px!important;
    font-weight: 700;
    font-size: 20px;
}

.input-group {
	width: unset;
}

.status {
	text-align: right;
}

.check-out {
    float: right;
    padding: 10px 30px;
	font-size: 19px;
	background-color: #FDF2E3;
	border: none;
}

span {
    color: #A95E56;
    font-family: 'Chau Philomene One', sans-serif;
    margin: 16px;
}