/* Panier */
.container {
    width: 840px;
    margin-left: auto;
    margin-right: auto;
}


.cart {
    margin: 20px;
    background-color: #a95e56;
    padding-bottom: 30px;
    border-radius: 30px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

tr {
     display: flex;
}

td {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.cart-item {
    background-color: #FDF2E3;
    border-radius: 10px;
    padding: 15px 20px;
    margin: 30px 30px -16px 30px;
    width: 744px;
}

.cart-item img.image {
	width: 200px;
}

.cart-item img.trash {
    width: 15px;
    margin-left: 5px;
}

.cart-item span {
    font-size: 20px;
}

.cart-item span.title, .cart-item span.color {
    padding: 0 45px;
    color: #141514;
    font-size: 20px;
}

.check-out {
    float: right;
    padding: 10px 30px;
	font-size: 19px;
	background-color: #FDF2E3;
	border: none;
    border-radius: 10px;
    margin-top: 30px;
}

span {
    color: #A95E56;
    font-family: 'Chau Philomene One', sans-serif;
}

.panier-info {
    display: grid;
}

.quantity {
    margin-left: 44px;
}

.total {
    text-align: end;
}

.minus, .more {
    border-radius: 30px;
    background-color: #A95E56;
    color: #FDF2E3;
    padding: 0 15px;
    border: none;
    margin: 2px;
}

@media (max-width:840px) {
    .cart-item  {
        width: 306px;
        padding: 5px;
        font-size: 15px;
    }

    .cart {
        padding: 5px;
        width: 350px;
        font-size: 15px;
    }

    .container {
        width: 353px;
    }

    .container img {
        display: none;
    }

    .check-out {
        margin-bottom: 15px;
    }

    .quantity {
        margin-right: 65px;
    }
    
}