/*NAVBAR*/
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.logo {
    width: 10%;
    min-width: 124px;
}

li, a, button{
    font-family: 'Chau Philomene One', sans-serif;
    font-size: 20px;
}

header{
    background-color: #A95E56;
    display: flex;
    justify-content: space-between;
    padding: 30px 10%;
    align-items: center;
}

.liens_nav {
    list-style:none;
}

.liens_nav li{
    display: inline-block;
    padding: 0px 20px;
}

.liens_nav li a{
    color: #FDF2E3;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

.liens_nav li a:hover{
    color: #F4AF99;
    transition: all 0.3s ease 0s;
}

button {
    background-color: #FDF2E3;
    padding: 0px 25px;
    border: none;
    border-radius: 30px;
}

.panier {
    color: #A95E56;
}

/*FICHE PRODUIT*/
img {
    display: flex;
    justify-content: center;
    width: 30%;
    margin: 20px;
}

.images{
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 20px;
}

section {
    font-family: 'Poppins', sans-serif;
}

h2 {
    font-family: 'Chau Philomene One', sans-serif;
    color: #A95E56;
}

.produits{
    margin-top: 161px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.ficheproduit{
    display: flex;
    max-width: 30%;
    font-family: 'Poppins', sans-serif;
}

#title{
    margin-top: 20px;
    font-size: 1.5em;
}

#title p{
    margin-top: 10px;
    font-size: 16px;
}

#price{
    margin: 30px 0px;
}

#price h2{
   font-weight: 800;
}

.radios div{
    display: flex;
    padding-right:15px
}

#description{
    margin-top: 30px;
}

#acheter{
    padding: 12px 20px;
    background-color: #A95E56;
    font-family: 'Poppins', sans-serif;
    color: #FDF2E3;
    border-radius: 30px;
    border: none;
    width: fit-content;
    margin-top: 30px;
}
